<!DOCTYPE html>
<html id="ng-app" ng-app="CompSoc">


    <link rel="stylesheet" type="text/css" href="public/css/app.css">
    <script type="text/javascript" src="public/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="public/js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="public/js/lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="public/js/app.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <title>CompSoc</title>
    
    <body>
        <nav ng-controller="NavCtrl">
            <a class="logo" href="/home">
                <span>Comp</span><span>Soc</span>
            </a>
            <div class="links"> 
                <a href="/home" class="btn">Home</a>
                <a href="/blog" class="btn">Blog</a>
                <a href="/wiki" class="btn">Wiki</a>
                <a href="/users" class="btn">Users</a>
            </div>
        </nav>
        <div class="content" ng-include>
        
        </div>
    </body>
</html>
