<!DOCTYPE html>
<html id="ng-app" ng-app="app">


    <link rel="stylesheet" type="text/css" href="public/css/app.css">
    <script type="text/javascript" src="public/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="public/js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="public/js/lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="public/js/app.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    
    <body>
        
    </body>
</html>
