@font-face {
    font-family: bimini;
    src: url('../fonts/bimini.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bimini.ttf')  format('truetype'); /* Safari, Android, iOS */
}

*{
    /*
        This is a catch-all style which forces the quirks-mode border-box style on all elements.
        When you give an element a width, padding and border are placed WITHIN this width WITHOUT expanding it.
    */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;             
}

a, a:hover, a:focus, a:active {
    /*
        Prevent a dotted border from outlining links when pressed
    */
    outline:0;
    text-decoration: none;
}


body {
    padding:50px 0 0 0;
    margin:0px;
}

nav {
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}

nav a{
    float: left;
    color:white;
    cursor: pointer;
}


/* Navigation Header Bar START*/
nav .logo {
    background-image: url('../img/nuig.png');
    width: 50px;
    padding: 0px 25px;
    height: 50px;
}
nav .text-logo {
    text-shadow:1px 1px rgba(0,0,0,0.5);
    color:white;
    font-size:36px;
}
nav .text-logo span:last-child {
    vertical-align: -8px;
    margin-left: -6px;
}
nav {
    font-family: bimini;
    color:white;
    position: fixed;
    top:0px;
    padding: 3px 0 0 20px;
    height: 60px;
    right:0px;
    left:0px;
    background-color: rgba(140,140,140,1);
    z-index:1000;
}

body.top.pushed nav {
    top:50px;
}
/*
    Semantic UI overrides
*/

nav .ui.secondary.menu .item {
    color:white;
}

.ui.sidebar {
    background-color: red;
}